body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin-left: 44%;
  margin-bottom: 20px;
}

#calculator {
  margin-left: 37%;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
  margin-right: 16px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  margin-top: 5%;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-left: 37%;
  margin-top: 20px;
  font-size: 18px;
}
